@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" id="tableIndex" style="margin-top:20px">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlem</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.KategoriID
            </td>
            <td data-name="@k.KategoriID">
                @k.KategoriAd
            </td>
            <td>
                <button type="button"  class="btn btn-warning modalAc"    data-adi="@k.KategoriAd" data-id="@k.KategoriID" data-toggle="modal" data-target="#UpdateProduct"><i title="Düzenle" data-toggle="tooltip" data-placement="top" class="fa fa-edit"></i></button>
                <button type="button"  class="btn btn-danger modalSilAc"  data-adi="@k.KategoriAd" data-id="@k.KategoriID" data-toggle="modal" data-target="#DeleteProduct"><i title="Sil" data-toggle="tooltip" data-placement="top" class="fa fa-trash"></i></button>
            </td>
        </tr>
    }

</table>

<div class="modal" id="NewProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kategori Ekleme</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="KategoriAd">Kategori Adı</label>
                    <input class="form-control" data-val="true" data-val-length="KategoriAd alanı uzunluğu en fazla 30 olan bir dize olmalıdır." data-val-length-max="30" id="KategoriAd" name="KategoriAd" type="text" value="">
                </div>
                <button type="button" class="btn btn-danger" onclick="AddProduct()">Ekle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="UpdateProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kategori Güncelleme</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="KategoriAd">Kategori Adı</label>
                    <input class="form-control" data-val="true" data-val-length="KategoriAd alanı uzunluğu en fazla 30 olan bir dize olmalıdır." data-val-length-max="30" id="KategoriAdUpdate" name="KategoriAdUpdate" type="text" value="">
                </div>
                <button type="button" class="btn btn-success" id="updateButton" data-update="0">Güncelle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="DeleteProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kategori Sil</h2>
            </div>
            <div class="modal-body">
                <p></p>
                <button type="button" class="btn btn-success kategoriSil" >Evet</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#NewProduct">Yeni Ürün</button>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
@*<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>*@

<script src="~/Content/MyScripts/KategoriJs/js/KategoriIndex.js"></script>
