@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Personel</th>
        @*<th>Görsel</th>*@
        <th>Satışlar</th>
    </tr>
    @{ int sayi = 0;}
    @foreach(var x in Model)
    {

    <tr>
        <td>@{sayi++;} @sayi</td>
        <td>@x.PersonelAd @x.PersonelSoyad</td>
        @*<td>@x.PersonelGorsel</td>*@
        <td><a href="/Departman/DepartmanPersonelSatis/@x.Personelid"class=" btn btn-warning">Satışlar</a></td>
    </tr>
    }
</table>
