@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" id="tableIndex" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        @*<th>Güncelle</th>*@
        <th>İşlemler</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {

<tr>
    <td >
        @k.Departmanid
    </td>
    <td data-name="@k.Departmanid">
        @k.DepartmanAd
    </td>
    @*<td><a href="/Departman/DepartmanSil/@k.Departmanid" class="btn btn-danger">Sil</a></td>*@
    @*<td><a href="/Departman/DepartmanGetir/@k.Departmanid" class="btn btn-success">Güncelle</a></td>*@
<td>
    @*<button type="button" class="btn btn-danger modalSilAc" data-adi="@k.DepartmanAd" data-id="@k.Departmanid" data-toggle="modal" data-target="#DeleteDepartman"><i data-toggle="tooltip" data-placement="top" title="Departmanı Sil" class="fas fa-trash-alt"></i></button>*@
    <a style="font-size: 22px; margin-left: 10px; color: #b5210d; cursor:pointer;"  class="modalSilAc" data-adi="@k.DepartmanAd" data-id="@k.Departmanid" data-toggle="modal" data-target="#DeleteDepartman"><i data-toggle="tooltip" data-placement="top" title="Departmanı Sil" class="fas fa-trash-alt"></i></a>
    @*<button type="button" class="btn btn-success modalAc" data-adi="@k.DepartmanAd" data-id="@k.Departmanid" data-toggle="modal" data-target="#UpdateDepartman"><i data-toggle="tooltip" data-placement="top" title="Güncelle" class="fas fa-edit"></i></button>*@
    <a style="        font-size: 22px;
        margin-left: 10px;
        color: #039b39;
        cursor: pointer;
        cursor: pointer;" class="modalAc" data-adi="@k.DepartmanAd" data-id="@k.Departmanid" data-toggle="modal" data-target="#UpdateDepartman"><i data-toggle="tooltip" data-placement="top" title="Güncelle" class="fas fa-edit"></i></a>
</td>
    <td><a href="/Departman/DepartmanDetay/@k.Departmanid" class="btn btn-dark">Detay</a></td>
</tr>
    }

</table>
<div class="modal" id="NewDepartman">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Departman Ekleme</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="KategoriAd">Departman Adı</label>
                    <input class="form-control" data-val="true" data-val-length="DepartmanAd alanı uzunluğu en fazla 30 olan bir dize olmalıdır." data-val-length-max="30" id="DepartmanAd" name="DepartmanAd" type="text" value="">
                </div>
                <button type="button" class="btn btn-success" onclick="AddDepartman()">Ekle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="DeleteDepartman">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Departman Sil</h2>
            </div>
            <div class="modal-body">
                <p></p>
                <button type="button" class="btn btn-success departmanSil">Evet</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#NewDepartman"><i title="Yeni Departman Ekle" data-toggle="tooltip" data-placement='top' class="fas fa-plus"></i></button>
<a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>


<div class="modal" id="UpdateDepartman">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Departman Güncelleme</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="KategoriAd">Departman Adı</label>
                    <input class="form-control" data-val="true" data-val-length="DepartmanAd alanı uzunluğu en fazla 30 olan bir dize olmalıdır." data-val-length-max="30" id="DepartmanAdUpdate" name="DepartmanAdUpdate" type="text" value="">
                </div>
                <button type="button" class="btn btn-success" id="updateButton" data-update="0">Güncelle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    function AddDepartman() {
        var departmanName = $('#DepartmanAd').val();
        if (departmanName == "") {
            alertify.error("Departman adı girilmedi!!");
        }
        else {
            $.ajax({
                url: "/Departman/DepartmanEkleJson",
                type: "POST",
                dataType: "json",
                data: { DepartmanAd: departmanName },
                success: function (data) {
                    if (data.Result == false) {
                        alertify.error(data.FeedBack);
                    }
                    else {
                        var newRowContent = '<tr><td>' + data.Object.Departmanid + '</td>';
                        newRowContent += '<td data-id="' + data.Object.Departmanid + '" > ' + data.Object.DepartmanAd + '</td > ';
                        newRowContent += "'<td><button type='button'  class='btn btn-warning modalSilAc'    data-adi='" + item.DepartmanAd + "' data-id='" + item.Departmanid + "' data-toggle='modal' data-target='#DeleteDepartman'><i data-toggle='tooltip' data-placement='top' title='Sil' class='fa fa-edit'></i></button></td>'";
                        newRowContent += '<td><a href="/Departman/DepartmanGetir/' + data.Object.Departmanid + '" class="btn btn-success">Güncelle</a></td>';
                        newRowContent += '<td><a href="/Departman/DepartmanDetay/' + data.Object.Departmanid + '" class="btn btn-dark">Detay</a></td></tr>';
                        $("#tableIndex tbody").append(newRowContent);
                        debugger;
                        $('[data-dismiss="modal"]').click();
                        alertify.success(data.FeedBack);
                        $('#DepartmanAd').val("");

                    }

                    $('body').loadingModal('destroy');
                }
            });
        }
    }

    $('.modalAc').on('click', function (e) {
        var departmanAdi = $(this).attr('data-adi');
        var departmanId = $(this).attr('data-id');
        $('#DepartmanAdUpdate').val(departmanAdi);
        $('#updateButton').attr('data-update', departmanId);
    })

    $('#updateButton').on('click', function () {
        var departmanId = $(this).attr('data-update');
        var departmanAdi = $('#DepartmanAdUpdate').val();

        $.ajax({
            url: "/Departman/DepartmanGuncelleJson",
            type: "POST",
            dataType: "json",
            data: { DepartmanAd: departmanAdi, Departmanid: departmanId  },
            success: function (data) {
                if (data.Result == false) {
                    alertify.error(data.FeedBack);
                }
                else {
                    debugger;
                    $('[data-name="' + data.Object.Departmanid + '"]').html(data.Object.DepartmanAd);
                    alertify.success(data.FeedBack);
                    $('#DepartmanAdUpdate').val("");
                    $('[data-id="' + data.Object.Departmanid + '"]').attr('data-adi', data.Object.DepartmanAd);
                }
                $('[data-dismiss="modal"]').click();
                $('body').loadingModal('destroy');
            }
        });

    })

    $(document).on('click', '.modalSilAc', function () {
        debugger
        var departmanAdi = $(this).data("adi");
        $(".modal-body>p").html(departmanAdi + " departmanını silmek istiyor musunuz?");
        var departmanid = $(this).data("id");
        $(".departmanSil").data("id", departmanid);
    });
    $(".departmanSil").click(function () {
        debugger
        var departmanid = $(this).data("id");
        $.ajax({
            url: "/Departman/DepartmanSilJson?id=" + departmanid,
            type: "POST",
            dataType: "json",
            success: function (data) {
                debugger
                if (data.Result == false) {
                    alertify.error(data.FeedBack);
                    $('[data-dismiss="modal"]').click();
                }
                else {
                    debugger;
                    $('[data-name="' + data.Object + '"]').parent('tr').remove();
                    debugger;
                    
                }
                alertify.success(data.FeedBack);
                $('[data-dismiss="modal"]').click();
            }
        })
    })

</script>